@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.fundo{
    background-color: rgb(0, 0, 0)
}

.cor2{
    background-color: white;
}

.tamanho{
    height: 80px;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}
.logo{
    font-size: 30px !important;
    color: white !important;
    
}

.tamanho2{
    height: 500px !important;
}
.tamanho2 img {
    height: 500px;
    
}

.card{
    height: 500px;
}

.cores{
    background-color: #75010b !important;
}

.nav-link{
    color: white;
}



